<% provide(:title, 'Clients and Testimony') %>
<% provide(:description, 'static') %>
<div class="center">
	<div id ="clients_header">
		<%= image_tag("logo.png", alt: "Oats", id:"logo_clients_header") %>
		
		<h1 style="padding-right:200px;">Clients and Testimony</h1>
	</div>
	<div id="clients_content">
		<table>
			<tr>
				<td>
					<div class="logo-box">
						<div class="logo-container">
							<%= image_tag("logo.png", alt: "Clients Logo", id:"clients_logo") %>
						</div>
						<div class="clients-testimoni">
							<div class="testimoni">
								<h4>Company name</h4>
								<p>Testimony text...</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="logo-box">
						<div class="logo-container">
							<%= image_tag("logo.png", alt: "Clients Logo", id:"clients_logo") %>
						</div>
						<div class="clients-testimoni">
							<div class="testimoni">
								<h4>Company name</h4>
								<p>Testimony text...</p>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="logo-box">
						<div class="logo-container">
							<%= image_tag("logo.png", alt: "Clients Logo", id:"clients_logo") %>
						</div>
						<div class="clients-testimoni">
							<div class="testimoni">
								<h4>Company name</h4>
								<p>Testimony text...</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="logo-box">
						<div class="logo-container">
							<%= image_tag("logo.png", alt: "Clients Logo", id:"clients_logo") %>
						</div>
						<div class="clients-testimoni">
							<div class="testimoni">
								<h4>Company name</h4>
								<p>Testimony text...</p>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>