<div id="timer">
	<div id="timer-hour">
		<%= @timer / 3600 %> 
		<% @timer %= 3600 %>
	</div>
	<div id="timer-symbol">
		:
	</div>
	<div id="timer-minute">
		<%= @timer / 60 %> 
		<% @timer %= 60 %>
	</div>
	<div id="timer-symbol">
		:
	</div>
	<div id="timer-second">
		<%= @timer %>
	</div>
</div>
<br/>
<script>
var latitude
var longitude
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{alert("Geolocation is not supported by this browser.");}
  }
function showPosition(position)
  {
	latitude = position.coords.latitude;
	longitude = position.coords.longitude;
	document.check_out_form.latitude.value = latitude;
	document.check_out_form.longitude.value = longitude;
	document.check_out_form.submit()
  }
</script>

<%= form_tag('/employee/checkout', :method => 'put', :name => "check_out_form") do %>
  <%= hidden_field_tag(:latitude) %>

  <%= hidden_field_tag(:longitude) %>
<% end %>

<button onclick="getLocation()">Checkout</button>
<div class="opt-button">
	<input type="button" id="checkout" value="Checkout" onclick="postLocation('PUT', '/employee/checkout')">
</div>