<% provide(:title, 'Reset Password') %>
<% provide(:description, 'none') %>
<div>
	<h1>Reset Password</h1>
</div>
<div class="login_form">
<%= form_for(@employee) do |f| %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes", class: "orange_button login_button" %>
<% end %>
</div>
