<% provide(:title, 'Login') %>
<% provide(:description, 'none') %>
<div>
	<h1>Employee Login</h1>
</div>
<div class="login_form">
  <%= form_for(:session, url: session_employees_path) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in", class: "orange_button login_button" %>
<% end %>
</div>