<% provide(:title, 'Sign Up') %>
<% provide(:description, 'none') %>
<div>
  <h1>Sign Up</h1>
</div>
<div class="register_form">
  <%= form_for(@company) do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create my account", class: "orange_button login_button" %>
  <% end %>
</div>
