<title>Add Employee</title>
<h1>Add Employee</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@employee) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :division %>
      <%= f.text_field :division %>

      <%= f.label :mobile_number %>
      <%= f.text_field :mobile_number %>

      <%= f.label :role %>
      <%= f.select :role, {"Human Resource"=>true, "Employee"=>false}%>

      <%= f.label :office_id %>
      <%= f.collection_select :office_id, company_current_user.offices, :id, :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>