<% provide(:title, 'Employee List') %>
<% provide(:description, 'dynamic') %>
<% provide(:role, 'company') %>

<div class="sub-title">
  <div>
    <%= yield(:title) %>
  </div>
</div>

<%= @company.username %>, <%= @company.name %>, <%= @company.email %>

<% if @company.offices.any? %>
<%= @company.offices.count %>
<%= render @offices %>
<% end %>
<br/>

<%= form_for Office.new do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :latitude %>
    <%= f.text_field :latitude %>

    <%= f.label :longitude %>
    <%= f.text_field :longitude %>

    <%= f.label :range %>
    <%= f.text_field :range %>
  </div>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>

<br/>

<% if @employees.any? %>
<div class="left-big-div">
    <table id="employee-table" border="1" class="list-table">
      <tr>
        <th>
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Division
        </th>
        <th>
          Office
        </th>
        <th>
          Role
        </th>
        
      </tr>
      <%= render @employees %>
    </table>
  </div>
<% end %>
<br/>
<div class="right-small-div">
  <input type="button" value="Add" class="normal-button" onClick="popUp()"/>
  <input type="button" value="Delete" class="normal-button" onClick=""/>
  <input type="button" value="Change Role" class="normal-button" onClick=""/>
</div>