<footer>
  <ul class="ul-left">
    <li>Copyright 2013 Suitmedia | </li>
    <li><%= link_to "Terms of Service", "/static_pages/terms" %> | </li>
    <li><%= link_to "Privacy Policy", "/static_pages/privacy" %></li>
  </ul>
  <ul class="ul-right">
    <li><%= link_to "About",   "/static_pages/about" %> | </li>
    <li><%= link_to "Help",   "/static_pages/help" %> | </li>
    <li><%= link_to "Contact", "/static_pages/contact" %> | </li>
    <li><%= link_to "Clients & Testimony", "/static_pages/clientsandtestimony" %> |</li>
  </ul>
</footer>
