<!DOCTYPE html>
<html>
  <head>
    <title>Oats | <%= yield(:title) %> </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "zingchart-html5-min" %>
    <%= csrf_meta_tags %>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
  </head>
  <% if !employee_current_user.nil? && employee_current_user.checkin?(employee_current_user)%>
    <body onload="start()">
  <% else %>
    <body>
  <% end %>
    <%= static_page_header(yield(:description), yield(:role)) %>
    <div class="container">
      <%= yield %>
    </div>
    <%= static_page_footer(yield(:description)) %>
  </body>
</html>


